<!DOCTYPE html>
<html>
  <head>
    <title>MediumEditor</title>
    <%= csrf_meta_tags %>

    <!-- bootstrap -->
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" %>
    <%= stylesheet_link_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" %>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"  %>

    <!-- medium-editor -->
    <%= javascript_include_tag "//cdn.jsdelivr.net/medium-editor/latest/js/medium-editor.min.js"  %>
    <%= stylesheet_link_tag "//cdn.jsdelivr.net/medium-editor/latest/css/medium-editor.min.css" %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <%= render :partial => "layouts/header" %>
      <%= yield %>
      <%= render :partial => "layouts/footer" %>
    </div>
  </body>
</html>
